.mat{
    max-width: 300px;
    padding: 0 10px 10px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .login h2{
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding: 0 auto;
  }
  .login input{
    border-radius: 5px;
    border: 1px solid #ededed;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px;
    width: 250px;  
  }
  .login button{
    margin: 5px;
    color: #051114;
    margin: 0 auto;
  }
  .forget-btn{
    margin: 5px;
    color: #051114;
    padding-left:80px;
    margin: 0 auto;
  }
 .button{
    border:none;
    position: relative;
        width: 96%;
        text-align: center;
        background-color: #4599db;
        color: white;
        padding: 6px 10px;
        border: 1px soild #ededed;
        border-radius: 5px;
        /* display: flex; */
        /* padding-left: 100px; */
 }
 .login p{
  text-align: center;
  margin: 7px;
 }